#experience {
    .cards-companies {

        .card-experience {
            width: 100%;
            padding: 1.5rem;
            position: relative;
            border-radius: 20px;
            transition: border-color .3s ease;
            border: 1px solid var(--theme-active-color);

            /* Animations */
            animation-name: reveal-slide-in-left;
            animation-timing-function: linear;
            animation-fill-mode: both;
            animation-timeline: view();
            animation-range: entry 5% cover 30%;

            gap: 1rem;
            display: flex;
            flex-direction: column;

            span {
                top: 1.5rem;
                right: 1.5rem;
                position: absolute;
                color: var(--theme-active-color-hover);
            }

            .stack-tech {
                img {
                    width: 25px;
                }
            }

            &:hover {
                border-color: var(--theme-active-color-hover);
            }
        }
    }
}

@media (max-width: 500px) {
    #experience {
        padding-inline: 1rem;

        .cards-companies {
            .card-experience {
                span {
                    top: auto;
                    right: 0;
                    position: relative;
                }
            }
        }
    }
}

@keyframes reveal-slide-in-left {
    0% {
        opacity: 0;
        transform: translateY(150px);
    }

    80% {
        opacity: .5;
    }

    100% {
        opacity: 1;
    }
}