#experience {
    .cards-companies {

        .card-experience {
            width: 100%;
            padding: 1.5rem;
            position: relative;
            border-radius: 20px;
            transition: border-color .3s ease;
            border: 1px solid var(--theme-active-color);

            gap: 1rem;
            display: flex;
            flex-direction: column;

            span {
                top: 1.5rem;
                right: 1.5rem;
                position: absolute;
                color: var(--theme-active-color-hover);
            }

            .stack-tech {
                img {
                    width: 25px;
                }
            }

            &:hover {
                border-color: var(--theme-active-color-hover);
            }
        }
    }
}

@media (max-width: 500px) {
    #experience {
        padding-inline: 1rem;

        .cards-companies {
            .card-experience {
                span {
                    top: auto;
                    right: 0;
                    position: relative;
                }
            }
        }
    }
}